@font-face {
  font-family: "GmarketSansBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.title {
  /* background-image: url("./menu_end.png"); */
  background: linear-gradient(to left, powderblue, rgba(221, 160, 221, 0.76));
  background-size: 100% 100%;
  width: 100%;
  height: 500px;
  margin-top: -40px;
  min-width: 1000px;
  /* position: relative; */
}

.title_text {
  font-family: "GmarketSansBold";
  position: absolute;
  padding-top: 170px;
  /* padding-left: 110px; */
  font-size: 80px;
  color: rgba(252, 252, 230, 0.856);
  display:flex;
  transition:0.5s;
  transform: translate(50%, 0px);
}
.title_content{
    position: absolute;
    top:0;
    font-family: 'GmarketSansMedium';
    transform: translate(110%, 260px);
    color:rgb(240, 240, 220);
}
.title_text:nth-child(2) {
    transform: translate(51%, 10px);
    opacity: 0.6;
    color:rgba(245, 245, 220, 0.788);
}

.title_text:hover:nth-child(2) {
    transform: translate(50%, 0px);
    opacity: 0;
}


.search_btn {
  margin-bottom: -8px;
}

.board {
  float: right;
  margin-right: 30px;
  margin-bottom: 20px;
}

.pagination {
  margin-top: 20px;
  position: absolute;
  width: 200px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

#write_btn {
  margin-top: 10px;
  float: right;
  margin-right: 30px;
  background-color: indianred;
}
.page-link {
  color: black;
  margin-top: 10px;
}

.write_txt {
  color: white;
  text-decoration: none;
}
.write_txt:hover {
  color: antiquewhite;
}
