.blog_content {
  top: 0;
  width: 100%;
  min-width: 1000px;
  height: 500px;
  font-size: 20px;
  font-family: "Noto Sans KR", sans-serif;
  text-align: center;
  position: relative;
  overflow: hidden; 
}

.profile_image {
  top:0;
  float: right;
  position: absolute;
  display:inline-block;
  /* border: 1px red solid; */
  width: 300px;
  height: 370px;
}
.introduce {
  top:0;
  right:0;
  left:0;
  width: 100%;
  height: inherit;
  position: absolute;
  display:inline-block;
}
